html,
body {
    height: 100%;

    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main{
    margin-bottom: 3rem;
}

.logo {
    width: 10rem;
}

.header-banner{
    background-color: aqua;
    height: 5rem;

    object-fit: contain;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;

    padding-top: 3rem;
    padding-bottom: 3rem;
}

.header-call-to-action {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.wrapper {
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 1rem;
}