


/*--------------Coffee Card----------------*/

.coffee-card{
    background-color: var(--base-card);

    width: 16rem;
    height: 19.37rem;

    padding-top: 5rem;

    position: relative;

    overflow: visible;

    border-radius: 15px 50px;
}

.coffee-card img{
    width: 7.5rem;
    height: auto;

    position: absolute;
    top: -2rem;

    z-index: 1;

}

.container-coffee-information{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 1rem;
}

.container-coffee-information > span{
    background-color: var(--yellow-light);

    width: 5rem;
    height: 1.3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--yellow-dark);
    font-size: .7rem;
    font-weight: bold;

    border-radius: .6rem;
}

.coffee-information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1rem;
}

.coffee-information h3{
    font-size: 1.25rem;
    color: var(--base-subtile);
}

.coffee-information p{
    text-align: center;

    color: var(--base-label);
    font-size: 0.87rem;
}

.container-shop-cart{
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.container-price{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.container-price span{
    color: var(--base-label);
    font-size: 0.875rem;

    padding-right: 0.5rem;

    margin-bottom: 0;
}

.container-shop-cart p{
    font-family: "Baloo 2", sans-serif;
    color: var(--base-text);
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 0;
}

.shop-cart-controls{
    background-color: var(--base-button);

    width: 4.5rem;
    height: 2.375rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.5rem;

    border-radius: 4px;
}

.shop-cart-controls button{
    background-color: aqua;
    width: 0.875rem;
    height: 0.875rem;

    display: flex;
    justify-content: center;
    align-items: center;
    
    color: var(--purple);
}

